html,body{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color:#fff;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.form-group {
    margin-bottom: 30px;
}
.login-form{
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form-container{
    width: 100%;
}
label {
    text-align: left;
    font-size: 15px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 800;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
select{
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    background-color: #fff;
    width: 100%;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
}
.form-control {
    margin: 10px 0px;
    padding: 1.1rem .9rem;
    width: 100%;
    font-size: .98rem;
    line-height: 1.42;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    padding: 20px 12px;
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 180px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 40px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-submit{
    background-color: #030233;
    color: white;
}
.btn-submit:hover{
    background-color: #171658;
    color: white;
}
.btn:focus,select:focus,input:focus{
    outline: none;
}
.btn-create {
    color: white;
    text-decoration: none;
    background-color: red;
    width: 100%;
}
.btn-create:hover{
    background-color: rgb(245, 77, 77);
    color: white;
}
.d-none{
    display: none;
}
.login-form h2,.register-form h2{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: 15px;
}
.row{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    flex: 1;
    height: 100%;
}
.row div.welcome-banner, .row div.login-form-container {
    flex: 1 1;
}
.welcome-banner{
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.726), rgba(0, 0, 0, 0.795)), url("../public/bg_pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    justify-content: center;
    align-items: center;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
ol{
    line-height: 1.4;
}
p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 35px;
    font-weight: 700;
}
.welcome_bg{
    height: 100%;
    width: 70%;
    margin: auto;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
}
.register-form .form-group {
    margin-bottom: 10px;
}
footer{
    margin-top: -10px;
}
